<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnotherBlog.Data.LINQ.Properties.Settings.AMForwardDbConnectionString" connectionString="Data Source=WTML04R8RX832\SQLEXPRESS;Initial Catalog=AnotherBlogDb;User ID=AMForwardDb" providerName="System.Data.SqlClient"/>
        <add name="AnotherBlog.Data.LINQ.Properties.Settings.AMForwardDbConnectionString1" connectionString="Data Source=WTML04R8RX832\SQLEXPRESS;Initial Catalog=AnotherBlogDb;User ID=AMForwardDb;Password=AMFEr1c3" providerName="System.Data.SqlClient"/>
        <add name="AnotherBlog.Data.LINQ.Properties.Settings.ABTestDbConnectionString" connectionString="Data Source=localhost;Initial Catalog=AnotherBlogDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
