@model PucksAndProgramming.AnotherBlog.Web.Models.Home.SiteModel
@using PucksAndProgramming.AnotherBlog.Common.DomainModel;
@using PucksAndProgramming.AnotherBlog.Web.Code.Utilities;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = PucksAndProgramming.AnotherBlog.Web.MvcApplication.SiteInfo.Name;
    ViewBag.Description = PucksAndProgramming.AnotherBlog.Web.MvcApplication.SiteInfo.About;
    ViewBag.Author = PucksAndProgramming.AnotherBlog.Web.MvcApplication.SiteInfo.DefaultAuthor;
    ViewBag.Keywords = PucksAndProgramming.AnotherBlog.Web.MvcApplication.SiteInfo.DefaultKeywords;
    ViewBag.Common = @Model.Common;
}
<div class="bodyContent">        
    <div class="contentPageTitle">
        <label>@Model.Common.ContentTitle</label>
    </div> 
    <div class="aboutContent">
        @Html.Raw(@Model.SiteInfo.About)
    </div>
</div>
