@model IDictionary<string,string>
@using System.Collections.Generic
<div class="contentSection">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Right Hand Panel Add -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:@Model["width"];height:@Model["height"]"
         data-ad-client="@Model["data-ad-client"]"
         data-ad-slot="@Model["data-ad-slot"]"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>   
</div>