<div id="blogArchiveSection" ng-controller="BlogController" ng-init="getArchiveDates('@ViewBag.BlogSubFolder');">
    <div class="contentSection">
        <div class="contentSectionTitle">
            <label>{{ archiveDates.Title }}</label>
        </div> 
        <div class="contentSectionBody">
            <ul class="contentSectionList">
                <li class="listItem" ng-repeat="archiveItem in archiveDates.ListItems">
                    <a href="{{ archiveItem.RelatedLink }}">{{ archiveItem.Name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
