@model int
@{
    Layout = "";
}
<div id="commentListSection" ng-init="getComments('@ViewBag.BlogSubFolder', '@Model');" ng-model="blogPostComments">
    <div class="commentSection" ng-repeat="comment in blogPostComments">
        <div class="commentTitleSection">
            <div class="commentSubTitle"> by {{ comment.AuthorName }} on {{ comment.DefaultDateStringFormat }}</div>
                <div><a ng-show="comment.Link != ''" href="{{ comment.Link }}">{{ comment.Link }}</a></div>
            </div>
        <div class="commentTextSection">
            <div>{{ comment.Text }}</div>
        </div>
    </div>
</div>