<div id="blogListSection" ng-controller="ListController" >
	<div class="navigationSection" ng-init="getAllBlogs();">
        <div class="navigationSectionTitle">
            <label>{{ allBlogs.Title }}</label>
        </div> 
        <div class="navigationSectionBody" >
            <ul class="navigationSectionList">
                <li class="navigationSectionItem" ng-repeat="blogItem in allBlogs.ListItems">
                    <a href='/{{blogItem.RelatedLink}}/Blog/Index'>{{blogItem.Name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>