@model AlwaysMoveForward.AnotherBlog.Web.Areas.Admin.Models.UserModel
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities;
@if (Model.CurrentUser != null)
{
    if (Model.CurrentUser.Roles.Keys.Count > 0)
    {       
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td width="20%">Blog</td>
                    <td width="40%">Description</td>
                    <td width="20%">Role</td>
                    <td width="20%">Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (int blogId in Model.CurrentUser.Roles.Keys)
                { 
                    <tr>
                        <td>@Model.Blogs[blogId].Name</td>
                        <td>@Model.Blogs[blogId].Description</td>
                        <td>@Model.Roles[Model.CurrentUser.Roles[blogId]]</td>
                        <td><a href="/Admin/UserManagement/DeleteRole?blogId=@blogId&userId=@Model.CurrentUser.Id"><img src="/Content/images/action_delete.png" class="deleteComment" alt=""/></a></td>
                    </tr>
                }
            </tbody>                    
        </table>
    }
}