<div id="blogListSection" ng-controller="BlogController" >
	<div class="navigationSection" ng-init="getAllBlogs();">
        <div class="navigationSectionTitle">
            <label>Blogs</label>
        </div> 
        <div class="navigationSectionBody" >
            <ul class="navigationSectionList">
                <li class="navigationSectionItem" ng-repeat="blogItem in allBlogs">
                    <a href='/Blog/{{blogItem.SubFolder}}/BlogPosts'>{{blogItem.Name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>