<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->0
  <PucksAndProgramming>
    <OAuthEndpoints ServiceUri="https://pucksandprogramming.auth0.com" RequestTokenUri="/oauth/token" AccessTokenUri="/oauth/token" AuthorizationUri="/authorize"  CallbackUriRoot="blog.pucksandprogramming.com" xdt:Transform="Replace"/>
    <OAuthKeys ConsumerKey="Es0B5ra4QGKUpzKIajijgAxVxoy7RucI" ConsumerSecret="ou4qlMRfSj7I9i31R52Tp149AYx-J5lJ5GkI3TG6YRfjDPX59RZu9TneME0Xnwsk"  xdt:Transform="Replace"/>
    <DatabaseConfiguration ConnectionString="p9ESk8PjzXU+/erTCQe+NxUUkgeXVYwo7yxhUozHxxPSGNxpMztlkoSYN9KPuDgeTtebOodM9RTxtINmdEjpj0PXFE0CFc1imMkfSIC1BJ4X8NFgBlkS9i4ICaoZVCpA+k5NV0a7JT3QUOhkOUgCzg==" DatabaseName="KsASC60yUqChKFOAY++y6dDQeIWphUnCjfqQcPvTmcs=" EncryptionMethod="AES" EncryptionSetting="PucksAndProgramming/AESEncryptionConfiguration" xdt:Transform="Replace"/>
    <AESEncryptionConfiguration EncryptionKey="c7a6dc5eced240f3b17034e0800e0a22eab806404ce648d0aea8e465ebd23c84028fd508c05e4c62a6c25614314e32696a09501e9b8745118c74dc5165440f3d" Salt="a0b7787159e74df0a864b62bd2e5ec79bba436e14b8d4ad78541bd955cd92ed9"   xdt:Transform="Replace"/>
  </PucksAndProgramming>
  <AnotherBlog>
    <WebSiteConfiguration UpdateDb="false" EnableSSL="true" DefaultSiteName="blog.pucksandprogramming.com" xdt:Transform="Replace"/>
  </AnotherBlog>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>