<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <sectionGroup name="AlwaysMoveForward">
      <section name="DatabaseConfiguration" type="AlwaysMoveForward.Common.Configuration.DatabaseConfiguration, AlwaysMoveForward.Common" requirePermission="false" />
      <section name="EmailConfiguration" type="AlwaysMoveForward.Common.Configuration.EmailConfiguration, AlwaysMoveForward.Common" requirePermission="false" />
      <section name="LoggingConfiguration" type="AlwaysMoveForward.Common.Configuration.LoggingConfiguration, AlwaysMoveForward.Common" requirePermission="false" />
      <section name="RepositoryConfiguration" type="AlwaysMoveForward.Common.Configuration.RepositoryConfiguration, AlwaysMoveForward.Common" requirePermission="false" />
      <section name="OAuthEndpoints" type="AlwaysMoveForward.OAuth.Client.Configuration.EndpointConfiguration, AlwaysMoveForward.OAuth.Client" requirePermission="false" />
      <section name="OAuthKeys" type="AlwaysMoveForward.OAuth.Client.Configuration.OAuthKeyConfiguration, AlwaysMoveForward.OAuth.Client" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="AnotherBlog">
      <section name="WebSiteConfiguration" type="AlwaysMoveForward.AnotherBlog.Web.Code.Utilities.WebSiteConfiguration, AlwaysMoveForward.AnotherBlog.Web" requirePermission="false" />
    </sectionGroup>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" requirePermission="false" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver, NHibernate</property>
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PreserverLoginUrl" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="AnotherBlogDb" connectionString="Data Source=localhost;Initial Catalog=AMForwardDb2;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <system.web>
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    
    <customErrors mode="Off" />
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="AlwaysMoveForward.AnotherBlog.Web.Code.Extensions" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <AlwaysMoveForward>
    <OAuthEndpoints ServiceUri="http://security.alwaysmoveforward.com" RequestTokenUri="/OAuth/GetRequestToken" AccessTokenUri="/OAuth/ExchangeRequestTokenForAccessToken" AuthorizationUri="/User/Signin"/>
    <OAuthKeys ConsumerKey="509B3CE0-A0E2-4A00-BF40-75A4D019CDBA" ConsumerSecret="982B13D1-6844-4960-930E-AFBB1DEF28AA" />
    <!-- localhost -->
    <!-- localhost\DbLocal -->
    <DatabaseConfiguration 	ConnectionString="5//AHsC/oMKZuRBV5aNbREu+Fx5AKcq+N8A3w7zdRxZcuC5sqsX4OthffBEGwxVb7W9Jeg8k98RlHOEx7PM7m7i2JN7bRIqLMFApBO+Ut52L3RxuvgJZAInpz/vnTPRea2bE0gXI3r+tD6KUajUfaQ==" DatabaseName="AMForwardDb" EncryptionMethod="Internal"/>
    <EmailConfiguration FromAddress="donotreply@alwaysmoveforward.com" SmtpServer="relay-hosting.secureserver.net" SmtpPort="25" />
      <LoggingConfiguration Source="WebRole" Level="Verbose" LoggingClass="AlwaysMoveForward.Common.Utilities.DefaultLogger" LoggingAssembly="AlwaysMoveForward.Common" />
      <RepositoryConfiguration ManagerAssembly="AlwaysMoveForward.AnotherBlog.DataLayer.ActiveRecord.dll" ManagerClass="AlwaysMoveForward.AnotherBlog.DataLayer.RepositoryManager" UnitOfWorkClass="AlwaysMoveForward.AnotherBlog.DataLayer.UnitOfWork" />
    <!--<RepositoryConfiguration ManagerAssembly="AlwaysMoveForward.AnotherBlog.DataLayer" ManagerClass="AlwaysMoveForward.AnotherBlog.DataLayer.Repositories.RepositoryManager" UnitOfWorkClass="AlwaysMoveForward.AnotherBlog.DataLayer.UnitOfWork"/> -->
    <!--    <RepositoryConfiguration ManagerAssembly="AnotherBlog.Data.NHibernate" ManagerClass="AnotherBlog.Data.NHibernate.Repositories.RepositoryManager" UnitOfWorkClass="AnotherBlog.Data.NHibernate.UnitOfWork"/> -->
    <!--    <RepositoryConfiguration ManagerAssembly="AlwaysMoveForward.AnotherBlog.DataLayer" ManagerClass="AlwaysMoveForward.AnotherBlog.DataLayer.Repositories.RepositoryManager" UnitOfWorkClass="AlwaysMoveForward.AnotherBlog.DataLayer.UnitOfWork"/> -->
  </AlwaysMoveForward>
  <AnotherBlog>
    <WebSiteConfiguration UpdateDb="false" EnableSSL="false" DefaultSiteName="AlwaysMoveForward.com" />
  </AnotherBlog>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\AnotherBlog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message %newline" />
      </layout>
    </appender>
    <root>
      <level value="Debug" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ERROR" />
    </logger>  
  </log4net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>
  </system.webServer> 

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
