<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <AlwaysMoveForward>
    <OAuthEndpoints ServiceUri="http://security.alwaysmoveforward.com" RequestTokenUri="/OAuth/GetRequestToken" AccessTokenUri="/OAuth/ExchangeRequestTokenForAccessToken" AuthorizationUri="/User/Signin" xdt:Transform="Replace"/>
    <OAuthKeys ConsumerKey="509B3CE0-A0E2-4A00-BF40-75A4D019CDBA" ConsumerSecret="982B13D1-6844-4960-930E-AFBB1DEF28AA" xdt:Transform="Replace"/>
    <DatabaseConfiguration 	ConnectionString="5//AHsC/oMKZuRBV5aNbREu+Fx5AKcq+N8A3w7zdRxZcuC5sqsX4OthffBEGwxVb7W9Jeg8k98RlHOEx7PM7m7i2JN7bRIqLMFApBO+Ut52L3RxuvgJZAInpz/vnTPRea2bE0gXI3r+tD6KUajUfaQ==" DatabaseName="AMForwardDb" EncryptionMethod="Internal" xdt:Transform="Replace"/>
  </AlwaysMoveForward>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>